.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.labelFile{
    border: 1px solid #999;
    border-radius: 10em;
    font-size: 0.9em;
    cursor: pointer;
    padding: 0.8em;
    color: #999;
}
.labelFile:hover{
    background-color: #4e73df;
    color: white;
    border: 1px solid #4e73df;
}
.register-image{
    background-position: center;
    background-size: cover;
}