.card-body{
    padding: 5px 1.5rem;
}
.calendar{
    text-align: center;
}
.start-date{
    color: #333;
}
iframe{
    background-color: white;
    width: 100%;
    height: 700;
}
.popup-content{
    overflow: auto;
}
.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
.card-header{
    min-height: 265px;
}
.poster-img{
    max-height: 240px;
}
.table{
    height: 3.2rem;
}
@media only screen and (max-width: 880px) {
    .popup-content{
        width: 60% !important;
    }
} 
@media only screen and (max-width: 700px) {
    .popup-content{
        width: 70% !important;
    }
} 
@media only screen and (max-width: 600px) {
    .popup-content{
        width: 80% !important;
    }
    
} 
@media (max-width: 1160px){
.col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (max-width: 850px){
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .poster-img{
        max-height: 500px;
    }
}
@media (max-width: 409px){
    .col, .calendar, .container-col-calendar{
        text-align: center;
    }
    .calendar{
        margin: 5px auto;
    }
    .poster-img{
        max-height: 500px;
    }
}
