.idid-button{
    border: none;
    background-color: white;
    padding-right: 80px !important;
}
iframe{
    background-color: white;
}
.popup-content{
    height: 100%;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}