ul{
    list-style-type: none;
}
.db-plus-icon{
    cursor: pointer;
    margin-right: 2px;
}
.btn-db-create,.btn-db-del,.btn-db-scanner {
    margin: 5px 3px;
    display: inline-block;
}
.btn-db{
    display: inline-block;

}
.container-btn-db{
    text-align: center;
}
